@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
}
/*container*/
.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/*게임 설명 버튼*/
.import_button {
    position: fixed;
    top: 305px;
    left: 110px;
    border: none;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 0.0);
}
/*게임 시작 버튼*/
.start_button {
    position: fixed;
    top: 300px;
    left: 650px;
    border: none;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 0.0);
}
/*바이러스 설명 버튼*/
.virus_button {
    position: fixed;
    top: 367px;
    left: 648px;
    z-index: 1;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.0);
}

/*Modal 전체 레이아웃*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-play {
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
    font-size: 17px;
    color: rgb(83, 56, 20);
    background-color: #fff4e3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -145px;
    border: 5px solid rgb(105, 86, 70);
    line-height: 2.8em;
    border-radius: 10%;
    width: 470px;
    height: 280px;
}