@charset "utf-8";
*{margin: 0; padding: 0;}

body
    {
        position: absolute; left: 50%; top: 50%; 
        transform: translate(-50%, -50%); text-align: center;
        background: white;
    }

.text
    {
        /*폰트스타일추가*/
        font-size: 12pt;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
    }

.next_story_btn 
    {
        position: absolute;
        bottom: 5%;
        right: 3%;
    }

.wrap
    {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin:0 auto;
    }

/*타이핑 효과 추가하기*/